body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(135deg, #a6c1ee);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card img {
  width: 100%;
  border-radius: 15px;
  margin-bottom: 20px;
}

.card h1 {
  color: #d16ba5;
  margin-bottom: 10px;
  display: flex;
}