body {
    background-color: #fef5e7;
    font-family: Arial;
    padding: 48px;
}

h1 {
    color: #d68910;
    font-size: 49px;
    text-align: center;
}

h4 {
    color: #b9770e;
    font-size: 30px;
    margin-top: 35px;
}

img {
    width: 400px;
    max-width: 100%;
    border-radius: 10px;
    margin: 20px 0;
}